herramientas/Flujos n8n/test.json
{
  "name": "test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        288
      ],
      "id": "256e285f-711d-498f-b986-b60b5c1593cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Creación de Entidades Beneficiarias\n",
        "height": 288,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        336
      ],
      "typeVersion": 1,
      "id": "84a24775-74f4-4198-8c92-214f6aa9687b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Creación de Personas",
        "height": 272,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        16
      ],
      "typeVersion": 1,
      "id": "2abd8489-6cfa-4293-9513-2b9aada70c26",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donantes/humano",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"nombre\": \"Lucas\",\n  \"apellido\": \".p\",\n  \"genero\": \"MASCULINO\",\n  \"fechaNacimiento\": \"1990-01-15T00:00:00.000+00:00\",\n  \"edad\": 34,\n  \"nroDocumento\": \"12345678\",\n  \"direccion\": {\n    \"calle1\": \"una calle\",\n    \"calle2\": \"Piso 2\",\n    \"altura\": 742,\n    \"sinAltura\": false,\n    \"piso\": 2,\n    \"cuerpo\": 0,\n    \"departamento\": \"A\",\n    \"ciudadNombre\": \"CABA\",\n    \"provinciaNombre\": \"Buenos Aires\",\n    \"paisNombre\": \"Argentina\"\n  },\n  \"mediosDeContacto\": [\n    {\n      \"medio\": \"EMAIL\",\n      \"valor\": \"lucas@mail.com\"\n    }\n  ],\n  \"medioPredeterminado\": {\n    \"medio\": \"EMAIL\",\n    \"valor\": \"lucas@mail.com\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1392,
        96
      ],
      "id": "2bb7f17e-b863-49b1-8f47-8413748ef388",
      "name": "Post Lucas ID:1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donantes/humano",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"nombre\": \"German\",\n  \"apellido\": \".G\",\n  \"genero\": \"MASCULINO\",\n  \"fechaNacimiento\": \"1990-01-15T00:00:00.000+00:00\",\n  \"edad\": 34,\n  \"nroDocumento\": \"12345678\",\n  \"direccion\": {\n    \"calle1\": \"una calle\",\n    \"calle2\": \"Piso 2\",\n    \"altura\": 742,\n    \"sinAltura\": false,\n    \"piso\": 2,\n    \"cuerpo\": 0,\n    \"departamento\": \"A\",\n    \"ciudadNombre\": \"CABA\",\n    \"provinciaNombre\": \"Buenos Aires\",\n    \"paisNombre\": \"Argentina\"\n  },\n  \"mediosDeContacto\": [\n    {\n      \"medio\": \"EMAIL\",\n      \"valor\": \"German@mail.com\"\n    }\n  ],\n  \"medioPredeterminado\": {\n    \"medio\": \"EMAIL\",\n    \"valor\": \"german@mail.com\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -992,
        96
      ],
      "id": "f192c802-9b43-4c53-9f96-d02a6a7ed769",
      "name": "POST German ID:3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/entidadBeneficiaria",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"razonSocial\": \"Caritas\",\n  \"tipo\": \"ONG\", \n  \"rubro\": \"Beneficiencia\",\n  \"direccion\": {\n    \"calle1\": \"Av Rivadavia\",\n    \"calle2\": \"San Martin\",\n    \"altura\": 1700,\n    \"sinAltura\": false,\n    \"piso\": 1,\n    \"cuerpo\": 0,\n    \"departamento\": \"C\",\n    \"ciudadNombre\": \"CABA\",\n    \"provinciaNombre\": \"Buenos Aires\",\n    \"paisNombre\": \"Argentina\"\n  },\n  \"representantes\": [\n    {\n      \"nombre\": \"Juan\",\n      \"apellido\": \"Pérez\",\n      \"nroDocumento\": 30123456\n    }\n  ],\n  \"mediosDeContacto\": [\n    {\n      \"medio\": \"WHATSAPP\", \n      \"valor\": \"+5491112345678\"\n    },\n    {\n      \"medio\": \"EMAIL\",\n      \"valor\": \"info@caritas.org\"\n    }\n  ],\n  \"medioPredeterminado\": {\n    \"medio\": \"EMAIL\",\n    \"valor\": \"info@caritas.org\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        432
      ],
      "id": "22c2c98f-92bb-4c59-8007-d2d125b3ec15",
      "name": "Post Caritas ID:1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/entidadBeneficiaria",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"razonSocial\": \"Comedor el SOL\",\n  \"tipo\": \"ONG\", \n  \"rubro\": \"COmedor\",\n  \"direccion\": {\n    \"calle1\": \"Av el SOL\",\n    \"calle2\": \"San Martin\",\n    \"altura\": 1700,\n    \"sinAltura\": false,\n    \"piso\": 1,\n    \"cuerpo\": 0,\n    \"departamento\": \"C\",\n    \"ciudadNombre\": \"CABA\",\n    \"provinciaNombre\": \"Buenos Aires\",\n    \"paisNombre\": \"Argentina\"\n  },\n  \"representantes\": [\n    {\n      \"nombre\": \"Martina\",\n      \"apellido\": \"Gomez\",\n      \"nroDocumento\": 30123456\n    }\n  ],\n  \"mediosDeContacto\": [\n    {\n      \"medio\": \"WHATSAPP\", \n      \"valor\": \"+5491187654321\"\n    },\n    {\n      \"medio\": \"EMAIL\",\n      \"valor\": \"contacto@comedorlossoles.org\"\n    }\n  ],\n  \"medioPredeterminado\": {\n    \"medio\": \"EMAIL\",\n    \"valor\": \"info@caritas.org\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1152,
        432
      ],
      "id": "19a4dec3-6e49-4355-b5cd-6ff914c0f242",
      "name": "Post Hogar el Sol ID:3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/necesidades",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entidadBeneficiariaId\": 5,\n  \"subCategoriaNombre\": \"Mesa\",\n  \"cantidad\": 2,\n  \"fechaLimite\": \"2026-12-31\",\n  \"tipoNecesidad\": \"RECURRENTE\",\n  \"diasRecurrencia\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1376,
        688
      ],
      "id": "447e651e-469f-483a-9a62-c3858ca76d0f",
      "name": "Necsidad Mesa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/necesidades",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entidadBeneficiariaId\": 4,\n  \"subCategoriaNombre\": \"Arroz\",\n  \"cantidad\": 10,\n  \"fechaLimite\": \"2026-12-31\",\n  \"tipoNecesidad\": \"RECURRENTE\",\n  \"diasRecurrencia\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1136,
        688
      ],
      "id": "2d4c9c03-2e0e-484c-a88b-e0083485564d",
      "name": "Necsidad Arroz"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/necesidades",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entidadBeneficiariaId\": 4,\n  \"subCategoriaNombre\": \"Silla\",\n  \"cantidad\": 4,\n  \"fechaLimite\": \"2026-12-31\",\n  \"tipoNecesidad\": \"RECURRENTE\",\n  \"diasRecurrencia\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1376,
        928
      ],
      "id": "e214092d-f2b2-4047-8ca0-9efd9ad9426e",
      "name": "Necsidad Silla"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 1,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        640
      ],
      "id": "6d3da941-8b2a-4111-8721-7961738bebd3",
      "name": "Lucas dona Arroz"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 1,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        224
      ],
      "id": "b9617226-3a01-4868-9109-0144c9b22ae0",
      "name": "German dona Arroz y Fideos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de muebles en buen estado\",\n  \"bienes\": [\n    {\n      \"tipo\": \"DURADERO\",\n      \"nombre\": \"Silla\",\n      \"descripcion\": \"Silla\",\n      \"foto\": \"silla.jpg\",\n      \"estadoBien\": \"USADO\",\n      \"subCategoria\": {\n        \"categoria\": \"MOBILIARIO\",\n        \"descripcion\": \"Silla\",\n        \"unidad\": \"UNIDADES\"\n      }\n    },\n    {\n      \"tipo\": \"DURADERO\",\n      \"nombre\": \"Mesa\",\n      \"descripcion\": \"Mesa\",\n      \"foto\": \"Mesa.jpg\",\n      \"estadoBien\": \"USADO\",\n      \"subCategoria\": {\n        \"categoria\": \"MOBILIARIO\",\n        \"descripcion\": \"Mesa\",\n        \"unidad\": \"UNIDADES\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        432
      ],
      "id": "7293339c-9f23-4bd9-b59a-20ec86756b75",
      "name": "Mati dona silla, mesa y arroz"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donantes/humano",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"nombre\": \"Matii\",\n  \"apellido\": \".S\",\n  \"genero\": \"MASCULINO\",\n  \"fechaNacimiento\": \"1990-01-15T00:00:00.000+00:00\",\n  \"edad\": 34,\n  \"nroDocumento\": \"12345678\",\n  \"direccion\": {\n    \"calle1\": \"una calle\",\n    \"calle2\": \"Piso 2\",\n    \"altura\": 742,\n    \"sinAltura\": false,\n    \"piso\": 2,\n    \"cuerpo\": 0,\n    \"departamento\": \"A\",\n    \"ciudadNombre\": \"CABA\",\n    \"provinciaNombre\": \"Buenos Aires\",\n    \"paisNombre\": \"Argentina\"\n  },\n  \"mediosDeContacto\": [\n    {\n      \"medio\": \"EMAIL\",\n      \"valor\": \"mati@mail.com\"\n    }\n  ],\n  \"medioPredeterminado\": {\n    \"medio\": \"EMAIL\",\n    \"valor\": \"mati@mail.com\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        96
      ],
      "id": "bedee05e-91d3-4557-a7ab-5af604864101",
      "name": "POST Matii ID:2"
    },
    {
      "parameters": {
        "content": "## Creación de Donaciones",
        "height": 672,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        160
      ],
      "typeVersion": 1,
      "id": "1369d1b4-334a-454e-8121-eaa22d8775a3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Creación de Necesidades\n",
        "height": 464,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        656
      ],
      "typeVersion": 1,
      "id": "f4e119d2-efaa-4f96-9182-44e5ad407eb2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\nsegmentada id:1 Arroz\nsegmentada id:2 Fideos\n\n\n\n\n\n\n\n\n\nsegmentada id:3 Silla\n\nsegmentada id:4 Mesa\n\nsegmentada id:5 Arroz\n\n\n\n\n\n\n\n\n\n\n\n\nsegmentada id:6 Arroz\n ",
        "height": 672,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        160
      ],
      "typeVersion": 1,
      "id": "950bea26-5270-40c1-98de-95ab569c3d32",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=1",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 5,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        96
      ],
      "id": "31beb0bd-ebaa-4744-b183-e6098a5cabd1",
      "name": "Algoritmo de Asignacion"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=3",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        336
      ],
      "id": "c06ba889-8841-44f1-8ca1-70101094da63",
      "name": "Algoritmo de Asignacion2"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        464
      ],
      "id": "ef347cc5-7ceb-4792-94fc-8e89463b6318",
      "name": "Algoritmo de Asignacion3"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        592
      ],
      "id": "ac9bed0c-dce5-4345-9da5-e29989bd1608",
      "name": "Algoritmo de Asignacion4"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=6",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        704
      ],
      "id": "c466d4c5-d8aa-40a8-b484-594a21545eec",
      "name": "Algoritmo de Asignacion5"
    },
    {
      "parameters": {
        "content": "## Selecciono a que Entidad Beneficiaria voy a donar a traves del algoritmo (segun id de Donacion Segmentada)",
        "height": 880,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ea747db1-2a94-4cba-9711-eef26233f2bc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        128
      ],
      "id": "37af0baf-ac6c-4596-9162-eb6fc731cecf",
      "name": "Asignacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        240
      ],
      "id": "5f61c086-4182-48e2-a13f-9b57e931aee2",
      "name": "Asignacion1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        352
      ],
      "id": "069af6b3-c89d-4f12-8141-d781c9f8820e",
      "name": "Asignacion2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        464
      ],
      "id": "088e207f-c63c-47e8-bc22-f560a5b6652f",
      "name": "Asignacion3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        576
      ],
      "id": "ac9e7bc3-2a16-42fc-9192-07741a241f33",
      "name": "Asignacion4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/matchmaking/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $json.donacionSegmentadaId }} ,\n  \"entidadBeneficiariaId\": {{ $json.entidadesPropuestas[0].id }} \n} ",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        688
      ],
      "id": "6ef85d14-f000-4c46-87b3-b69fec434a82",
      "name": "Asignacion5"
    },
    {
      "parameters": {
        "content": "## Asigno la donación a la entidad",
        "height": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        0
      ],
      "typeVersion": 1,
      "id": "cdefb654-b6ed-4d04-9b3d-02283fafefcc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        128
      ],
      "id": "0aee1ee5-08d9-45c6-91f3-9ca447c9394b",
      "name": "Entregar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion1').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        240
      ],
      "id": "94cbe108-2c61-4ce6-944a-5e1a129639e4",
      "name": "Entregar1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion2').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        352
      ],
      "id": "64e94578-99b4-47b5-854d-40d214112261",
      "name": "Entregar2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion4').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        576
      ],
      "id": "6465d829-5040-4389-a192-07b916f51746",
      "name": "Entregar4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion5').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        688
      ],
      "id": "706a71ef-3cf8-4636-be81-6f506bb4f688",
      "name": "Entregar5"
    },
    {
      "parameters": {
        "content": "## Finalmente se entrega la donacion",
        "height": 880,
        "color": "#F7BFE8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1,
      "id": "ffa11713-f7e2-4411-9ecc-7b90ad151640",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -768,
        688
      ],
      "id": "acb0d7f6-7ab1-4c53-8385-0395c52ef406",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21687f66-3a0c-4bb9-bc8a-9a1978c0cf7c",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        144
      ],
      "id": "4ae028f9-d9e6-4a8a-83b8-6cbab0581cc3",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "620fb93c-c0b2-4a81-8049-12dcb2e9a140",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        256
      ],
      "id": "eb75dde9-0dac-42c7-8bb2-e54808bd7a4e",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "620fb93c-c0b2-4a81-8049-12dcb2e9a140",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        368
      ],
      "id": "bdedb480-02a1-4f1d-897d-db44e87d4d0d",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "620fb93c-c0b2-4a81-8049-12dcb2e9a140",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        480
      ],
      "id": "c3ecd71e-6ebd-41e2-aa43-460a6ddc40c6",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "620fb93c-c0b2-4a81-8049-12dcb2e9a140",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        592
      ],
      "id": "fa71f477-8276-4a51-a47b-ca64bfd03eb2",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "620fb93c-c0b2-4a81-8049-12dcb2e9a140",
              "leftValue": "={{ $json.entidadesPropuestas[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        704
      ],
      "id": "af526ffc-c41c-4b68-8f4c-a55320ca1871",
      "name": "If5"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/matchmaking/ranking?donacionSegmentadaId=2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"donanteId\": 3,\n  \"descripcion\": \"Donación de alimentos\",\n  \"bienes\": [\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Arroz\",\n      \"descripcion\": \"paquete de arroz doble carolina\",\n      \"foto\": \"arroz.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Arroz\",\n        \"unidad\": \"KG\"\n      }\n    },\n    {\n      \"tipo\": \"PERECEDERO\",\n      \"nombre\": \"Fideos\",\n      \"descripcion\": \"paquete de fideos mostachol\",\n      \"foto\": \"fideos.jpg\",\n      \"fechaVencimiento\": \"2026-12-31T23:59:59.000Z\",\n      \"subCategoria\": {\n        \"categoria\": \"ALIMENTOS\",\n        \"descripcion\": \"Fideos\",\n        \"unidad\": \"KG\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        208
      ],
      "id": "0e24a2c7-e41d-4be8-86a8-c63ab4064442",
      "name": "Algoritmo de Asignacion1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/donaciones/entregar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"donacionSegmentadaId\": {{ $('Algoritmo de Asignacion3').item.json.donacionSegmentadaId }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        464
      ],
      "id": "d7981895-d53d-411c-bc1c-7af043eb2902",
      "name": "Entregar3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Post Lucas ID:1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Caritas ID:1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Lucas ID:1": {
      "main": [
        [
          {
            "node": "POST Matii ID:2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Caritas ID:1": {
      "main": [
        [
          {
            "node": "Post Hogar el Sol ID:3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Necsidad Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Hogar el Sol ID:3": {
      "main": [
        [
          {
            "node": "Necsidad Arroz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necsidad Mesa": {
      "main": [
        [
          {
            "node": "Necsidad Silla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necsidad Silla": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "POST German ID:3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Matii ID:2": {
      "main": [
        [
          {
            "node": "POST German ID:3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "German dona Arroz y Fideos": {
      "main": [
        [
          {
            "node": "Mati dona silla, mesa y arroz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mati dona silla, mesa y arroz": {
      "main": [
        [
          {
            "node": "Lucas dona Arroz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lucas dona Arroz": {
      "main": [
        [
          {
            "node": "Algoritmo de Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necsidad Arroz": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Algoritmo de Asignacion": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Algoritmo de Asignacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo de Asignacion2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Algoritmo de Asignacion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo de Asignacion3": {
      "main": [
        [
          {
            "node": "Algoritmo de Asignacion4",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo de Asignacion4": {
      "main": [
        [
          {
            "node": "Algoritmo de Asignacion5",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo de Asignacion5": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion": {
      "main": [
        [
          {
            "node": "Entregar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion1": {
      "main": [
        [
          {
            "node": "Entregar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion2": {
      "main": [
        [
          {
            "node": "Entregar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion3": {
      "main": [
        [
          {
            "node": "Entregar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion4": {
      "main": [
        [
          {
            "node": "Entregar4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignacion5": {
      "main": [
        [
          {
            "node": "Entregar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "German dona Arroz y Fideos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Asignacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Asignacion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Asignacion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Asignacion4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Asignacion5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algoritmo de Asignacion1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Algoritmo de Asignacion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f29653a8-846e-4e06-9bf3-2b8fdec4b4c7",
  "meta": {
    "instanceId": "5f3284eb8ad0162eb1d0a67222ed1d379996833145662b5c83161a964f804f68"
  },
  "nodeGroups": [],
  "id": "PH7aFQlQ21pzaZ6z",
  "tags": []
}